@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*COLORS*/
  --primary-color: #1d2b38;

  /*TYPOGRAPHY*/
  --cm-font-family: "Roboto", sans-serif;
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-very-bold: 900;

  /*SPACING*/
  --spacing: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--cm-font-family);
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.icon-general {
  --icon-size: 24px;

  width: var(--icon-size);
  height: var(--icon-size);
  border: none;
  filter: invert(80%);
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}
