.navbar {
  --navbar-height: 50px;
  --spacing-vertical: 0;
  --spacing-horizontal: calc(var(--spacing) * 6);

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  padding: var(--spacing-vertical) var(--spacing-horizontal);
  background-color: var(--primary-color);
}
